<% const d = new Date()
let year = d.getFullYear() %>
<footer>
    <p class="copyright">&copy; <%= year %>, CSE 340 App.</p>
    <a href="/inv/errorTest" id="errorlink" title="Server Error Test">Error Link</a>
    <a href="/contact" id="contact" aria-label="Comment, Question, or Suggestion? Click here" title="Contact Us">Contact Us</a>
</footer>