/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
    --primary-color: #FFFFFF;
    --secondary-color: #3066bc;
    --accent1-color: #070707;
    --accent2-color: #3066bc;
    --accent3-color: #eee8d3;
    --accent4-color: #FF9999;

    --heading-font: "Audiowide", Arial, sans-serif;
    --paragraph-font: "Roboto", Arial, sans-serif;

    --nav-background-color: #a3a3a3;
    --nav-link-color: #FFF;
    --nav-hover-background-color: #eee8d3;

    --border1: 1px solid #999999;
    --border2: 3px solid #3066be; 
    --background-color: white;
}

.audiowide-regular {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-text {
  font-family: "Roboto", sans-serif;  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body {
  background-image: url("/images/site/checkerboard.jpg");
  margin: 0;
  padding: 0;
}

body h1, body h2, body h3 {
  font-family: var(--heading-font);
}

body p, body div {
  font-family: var(--paragraph-font);
}

main, header, footer, nav {
  width: 100%;
  max-width: 960px;
  background-color: var(--primary-color);
  border: var(--border1);
  margin: 0 auto;  
}

h1, h2 {
  margin: 0;
}

header { 
  display:flex;
  justify-content: space-between;  
}

header span.siteName a { 
  font-size: 1.8rem;
  font-family: var(--heading-font);
  text-align: left;
  text-decoration: none;
  text-decoration-color:#1F1F1F;
  color: var(--accent1-color);
}

 header div {
   justify-content: right;
   margin: 10px;
}

header div a {
  text-decoration: none;
  text-align: right;
  font-size: small;   
  color: var(--accent1-color); 
}

Nav { 
  display: flex;  
  background-color: var(--secondary-color);
  Padding: 2px;
}

Nav ul {
  display: flex;
  width: 100%;
  font-size: .8rem;
  padding: 2px 0;
  margin: 10px 0;
  justify-content: space-between;
}

nav li{
  display: inline-block;  
  text-align: center;
  font-weight: 700;
  list-style: none;
  
  padding: 12px 6px;
  margin: auto;  
}

nav li a {
  color:var(--nav-link-color);
}

nav li:hover, nav li a:hover {
  color:var(--accent1-color);
  background-color: var(--nav-hover-background-color);
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

h1 {
  width: 90vw;
  font-size: 1.2rem;
}

.notice {
  list-style: none;
  font-family: var(--paragraph-font);
  font-size: 1.2rem;
  font-weight: 900;
  color: red;
}

div #Form {
  display: block;
  align-content: space-around;
  justify-content: center;
  background-color: var(--accent2-color);
  color:white;
  font-size: 1.5rem;
  margin: 10px auto;
  padding: 15px;
  min-width: 280px;
  width: 80%;
  max-width: 520px;
  min-height: 320px;
  height: auto;
  border: 3px solid var(--secondary-color);
  border-radius: 6px;
}

div #Form p {
  margin: 10px;
}

div #invDisplay {
  display: block;
  align-content: space-around;
  justify-content: left;
  background-color: var(--accent3-color);
  color:var(--accent1-color);
  font-size: 1rem;
  margin: 10px auto;
  min-width: 280px;
  width: 80%;
  max-width: 520px;
  min-height: 0px;
  height: auto;
  border: 3px solid var(--secondary-color);
  border-radius: 6px;
}

div #Form label, div #Form input, div #Form select, div #Form textarea {
  height: 35px;
  width: 220px;
  margin: 10px;
}

div #Form textarea {
  height: 120px;
}

input:focus:invalid {
  background-color: rgba(249, 57, 57, .7);
}

input:focus:valid {
  background-color: rgba(57, 255, 57, .7);
}

div #loginForm p, div #registerForm p {
  margin: 0 10px;
}

div #submitButton {
  justify-self:center;
  text-align: center;
  max-width: 180px;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 5px;
  border: 3px solid black;
  border-radius: 6px;
}

#signup {
  font-weight: 600;
  color: white;
  padding: 5px;
  border-radius: 6px;
}

#signup:hover, #submitButton:hover {
  color:var(--accent1-color);
  background-color: var(--nav-hover-background-color);  
}

main picture.hero {
  display: block;
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0;
}

main picture.hero img {
  width: 100%;
  height: auto;
}

div.delorean {
  line-height: 1;
  font-size: medium;
  position: absolute;
  text-align: left;
  top: 160px;
  left: 20px;
  width: auto;
  height: 93px;
  color: var(--accent2-color);
  background-color: var(--accent3-color);  
  opacity: .9;
  padding: 2px;
  margin: 0;
}

div.delorean h2, div.delorean a { 
  font-weight: 800;
  font-size: .9rem;
}

div.delorean p, div.delorean h2, div.delorean a { 
  margin: 0;
}

div.delorean p.space {
  margin-bottom: 10px;
}

div.delorean a {
  text-decoration: none;
  padding: 5px;
  color: white;
  background-color: var(--accent2-color);
  border-radius: 3px;
}

div.reviews {
  font-family: var(--paragraph-font);
  background-color: var(--accent3-color);
  padding: 2px;
  margin: 5px;
}

div.reviews h2 {
  font-size: 1.1rem;
}

div.reviews ul {
  padding: 15px;
  margin: 0;
}

div.upgrades {
  display: grid;
  grid-template-rows: 30px 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
        "capacitor decals"
        "stickers caps";
  grid-gap: 10px;
  max-width: 320px;
  font-family: var(--paragraph-font);
  background-color: var(--accent3-color);
  margin: 2px;
  padding: 2px;
}

div.upgrades h2 {
  font-size: 1.1rem;
  display: block;
  grid-row: 1;
  grid-column: 1/3;
}

div.upgrades div {
  justify-content: center;
  text-align: center;
  padding-top: 5px;
  width: 140px;
  height: auto;
  background-color: var(--accent2-color);
  margin: 3px;
}

div.upgrades a {
  display: block;
  text-align: center;
  color: var(--primary-color);
}


#inv-display {
  column-gap: 50px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
}

#inv-display li {  
  display: block;
  align-content: space-between;
  text-align: center;
  list-style: none;
  width: 240px;
  height: auto;
  margin: 15px auto;
  background-color: var(--accent3-color);
  border: 1px solid #3066be;
  border-radius: 3px;
}

div.namePrice span {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 800;
}

div #manageInv {
  display: block;
  width: 100%;
  margin: 10px;
  padding: 10px;   
}

#manageInv a {
  display: block;
  padding: 2px;
}

#manageAcc {
  font-size: larger;
  font-weight: 700;
}

section.vehImage {
  align-content: flex-start;
  text-align: center;
}

section.vehicleDetail {
  grid-area: details;
  width: 300px;
  text-wrap: wrap;
}

#vehicle-details {  
  list-style: none;
}

li.vehDesc {
  margin-bottom: 15px;
}

footer {
  padding: 5px;
}

footer a, .copyright {
  line-height: 0;
}

div #error {
  font-size: 1.5rem;
  background-color: var(--accent4-color);
  padding: 10px;
  margin: 10px;
}

@media screen and (min-width: 560px) {

  header span.siteName a {
    font-size: 3.5rem;
  }

  header div {    
    margin: 15px;
  }

  header div a {
    font-size: large;
  }

  nav li{
    font-size: large;
  }

  main h1 {
    font-size: 2rem;
  }

  div.reviews, div.upgrades {
    max-width: 48%;
    justify-content: center;    
    padding: 10px;
  }  

  div.delorean {
  top: 200px;
  height: 122px;
  }

  div.delorean h2, div.delorean a { 
  font-size: 1.2rem;
  }

  picture div.delorean p.space {
  margin-bottom: 30px;
  }


  div #invDisplay {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 800px) {

  header, nav, main, footer{
    border-left: var(--border2);
    border-right: var(--border2);
    border-radius: 3px;
  }

  header {
    border-top: var(--border2);
    border-radius: 3px;
  }

  footer {
    border-bottom: var(--border2);
    border-radius: 3px;
  }

  div.delorean {
    font-size: x-large;
    top: 220px;
    height: 166px;
    left: 10%;
  }

  div.delorean h2, picture div.delorean a { 
    font-size: 1.8rem;
  }

  div.delorean p.space {
    margin-bottom: 30px;
  }
  
  div.reviews h2, div.upgrades h2 {
    font-size: 1.8rem;
  }
  
  #vehicle-display {
    display: flex;
    font-size: larger;
  }

  section.vehImage {
    display: inline-block;
    max-width: 500px;
    height: auto;
    margin-bottom: 20px;
  }

  section.vehicleDetail {
    display: inline-block;
    padding: 5px;
  }
}

@media screen and (min-width: 960px) {
  div.delorean {
  left: 20%;
  }
}
